.boardMemory{
  display: flex;
  gap: var(--gap-s);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 900px;
  margin: var(--margin-xs);
}

.divCard {
  width: 120px;
  height: 140px;
  border-radius: var(--primary-br);
  cursor: pointer;
  transition: all 0.5s;
  position: relative; 
  
}
 .front , .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  user-select: none;
  pointer-events: none;
}
.front {
  background-color: var(--color-4);
  background-image: url("https://www.transparenttextures.com/patterns/food.png"); 
} 
 .back {
  transform: rotateY(-180deg);
} 
.back > img {
  width: 100%;
 height: 100% ;
}
.divCard.clicked .front{
  transform: rotateY(180deg);
} 
.divCard.clicked .back{
  transform: rotateY(0);
} 
.divCard.shake {
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-13%);
  }
  40% {
    transform: translateX(13%);
  }
  60% {
    transform: translateX(-8%);
  }
  80% {
    transform: translateX(8%);
  }
}
.points {
 font-size: var( --font-size-sec);
}
.restart{
  font-size: var(--font-size-ter);
  background-color: var(--color-2);
  border-radius: var(--primary-br);
  padding: var(--padding-xs);
  color: var(--color-3);
}
@media (max-width: 890px) {
  .boardMemory{
    max-width: 80%;
  }
}