footer {
  margin-top: var(--margin-xl);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--padding-xs);
}
footer > p {
font-size: var(--font-size-ter);
}
footer > a {
  width: 50px;
  cursor: pointer;
}
footer > a > img {
  width: 100%;
}