#btnStart{
  background-color: var(--color-4);
  color: var(--color-3);
  border-radius: var(--primary-br);
  font-size: var(--font-size-sec);
  padding: var(--padding-xs) var(--padding-s);
  cursor: pointer;
}

#word {
  display: flex;
  gap: var(--gap-s);
  margin: var(--margin-s);
  font-size: var(--font-size-sec);
}
#word > div {
  border-bottom: 2px solid var(--color-1);
  width: 40px;
}
#word > div > h3 {
  opacity: 0;
  text-align: center;
  overflow: hidden;
  transition: all 1s;
}
#word > div > .includes{
  opacity: 1;
}

#alphabet{
  display: flex;
  gap: var(--gap-xs);
  margin: var(--margin-s);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
}
#alphabet > button {
  cursor: pointer;
  border-radius: var(--secondary-br);
  color: var(--color-3);
  background-color: var(--color-2);
  padding: var(--padding-xxs) var(--padding-xs);
  transition: all 0.5s;
  font-size: var(--font-size-ter) ;
  border: 2px solid var(--color-2);
}
#alphabet > button:hover{
  background-color: var(--color-4);
  border: 2px solid var(--color-3);
} 
.final {
  display: flex;
  width: 100%;
  margin: var(--margin-s);
  gap: var(--gap-m);
  justify-content: space-evenly;
  align-items: center;
}
.final img {
  width: 200px;
}
.final h3 {
  font-size: var(--font-size-ter);
}
.playAgain {
  font-size: var(--font-size-pri);
  top: 0;
}